{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add new airplane</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Create" />
    {{ form_end(form) }}

    <br>
    <a href="{{ path('airplane_index') }}" class="btn btn-info" role="button">Back to the list</a>

{% endblock %}
